body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    background-color: #5a67d8;
    color: white;
    align-items: center;
    display: flex;
    padding: 20px;
    width:100%;
    position: fixed;
    height: 5%;
    justify-content: center;
}

.container {
    display: flex;
    flex: 1;
}

.sidebar {
    width: 250px;
    margin-top: 10%;
    background-color: #fff;
    color: #2d3748;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 15px 20px;
}

.sidebar ul li a {
    color: #2d3748;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.sidebar ul li a:hover,
.sidebar ul li a:active {
    background-color: #e2e8f0;
    border-radius: 5px;
}

.sidebar ul li a .icon {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.sidebar ul.bottom {
    margin-top: 28%;
    padding-bottom: 10px;   
    position: fixed;
}
.pagename{
    color: gray;
}
.main-content {
    flex: 1;
    padding: 10px;
    background-color: #edf2f7;
    overflow-y: auto;
    margin-left: 250px;
    margin-top: 5% ;
  
}


.sidebar ul li a .icon {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.buttons .icon{
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.buttons {
    display: flex;
    justify-content: flex-start; /* Align buttons to the left */
    margin-bottom: 20px;
}

.buttons button {
    display: flex;
    align-items: center;
    margin-right: 10px; /* Add margin to the right of each button */
    padding: 10px 20px;
    background-color: #5a67d8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttons button .icon {
    margin-right: 10px; /* Add margin between icon and text */
}

.low-stock, .inventory {
    margin: 20px 0;
    background-color: #F7fafc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    
}

.low-stock h3, .inventory h3 {
    margin-bottom: 10px;
    text-align: center;
}

.low-stock table, .inventory table {
    width: 100%;
    border-collapse: collapse;
}

.low-stock th, .inventory th, .low-stock td, .inventory td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    border-radius: 10px;
    box-sizing: border-box;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

form {
    margin-top: 10px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input {
    width: calc(100% - 20px); /* Adjust width to account for padding */
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

form button {
    padding: 10px 20px;
    background-color: #5a67d8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
