body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    background-color: #5a67d8;
    color: white;
    align-items: center;
    display: flex;
    padding: 20px;
    width:100%;
    position: fixed;
    height: 5%;
    justify-content: center;
}

.container {
    display: flex;
    flex: 1;
}

.sidebar {
    width: 250px;
    margin-top: 10%;
    background-color: #fff;
    color: #2d3748;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 15px 20px;
}

.sidebar ul li a {
    color: #2d3748;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.sidebar ul li a:hover,
.sidebar ul li a:active {
    background-color: #e2e8f0;
    border-radius: 5px;
}

.sidebar ul li a .icon {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.sidebar ul.bottom {
    margin-top: 28%;
    padding-bottom: 10px;   
    position: fixed;
}
.pagename{
    color: gray;
}
.main-content {
    flex: 1;
    padding: 10px;
    background-color: #edf2f7;
    overflow-y: auto;
    margin-left: 250px;
    margin-top: 5% ;
  
}

.orders {
    margin: 20px 0;
    background-color: #f7fafc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.orders h3 {
    margin-bottom: 10px;
    text-align: center;
}

.orders table {
    width: 100%;
    border-collapse: collapse;
}

.orders th, .orders td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
